<div class="TopBarW">
    <a class="TopBarCW TopBarCWR" href="/">
        <div class="TopBarCWF">
            <div class="BatLogoWr">
                <div class="BatLogo BatLogoB BatLogoEB">
                    <div class="BatLogoOF">
                        <div class="BatLogoBallW">
                            <div class="BatLogoBall"></div>
                            <!-- <div class="BatLogoBallShadow"></div> -->
                        </div>
                    </div>
                    <div class="BatLogoBatW">
                        <div class="BatLogoBat"></div>
                        <!-- <div class="BatLogoBatShadow"></div> -->
                    </div>
                </div>
            </div>
            <div class="TopBarCWSW">
                <div class="SiteLogoName">ScoreBat</div>
            </div>
        </div>
    </a>
</div>